#welcome{
    width: 60%;
    margin: auto;
    text-align: center;  
}

#welcome h1{
    font-family: 'bold';
     color: ivory;
}

#welcome a{
    display: block;
    width: 90px;
    padding: 10px 0;
    text-align: center;
    background: rgb(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: auto;
    text-decoration: none;
    color: ivory;
    font-size: 120%;
    border: radius 10px;
}

#header{
    display: block;
    color: ivory;
    text-align: center;
    padding: 10px 0;
    
}

body{
    background-image: url(../../../img/plano-de-fundo02.jpg);
}